/*from items Component:*/

body{
  background-color: whitesmoke;
}

.item{
  height:75px;
  width:300px;
  position:relative;
  background-color: black;
  margin: 6px 5px 6px 3px;
  opacity: 0.9;
  color:black;
  font-family: 'Amatic SC', cursive;
}

.item-image{
  position: absolute;
  opacity: 0.5;
  margin: 4px;
  transition: opacity 0.1s, margin 0.25s;
}

.description{
  color:white;
  text-align: center;
  opacity: 0.8;
  font-size: 20pt;
  font-weight: 100;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  transition: opacity 0.1s;
}

.item:hover .item-image{
  cursor:pointer;
  opacity: 0.7;
  margin:0;
}

.item:hover .description{
  cursor:pointer;
  opacity: 1;
  text-shadow: 1px 1px 1px black;
}


/*from Banner Component:*/

.banner{
  height:150px;
  width:300px;
  position:relative;
  background-color: black;
  opacity: 0.9;
  color:black;
  margin: -15px 5px 6px 3px;
  font-family: 'Amatic SC', cursive;
}

.banner-background{
  position: absolute;
  margin:0;
  opacity: 0.4;
}

.name{
  color:white;
  width:250px;
  text-align: center;
  opacity: 1;
  font-size: 32pt;
  text-shadow: 1px 1px 1px black;
  font-weight: 100;
  position: absolute;
  bottom:0;
  left:50%;
  transform: translate(-50%,0%);
  transition: opacity 0.1s;
}

.profile{
  position: absolute;
  width:125px;
  height:125px;
  clip-path: circle(50% at 50% 50%);
  opacity: 0.7;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.banner:hover .profile{
  opacity: 1;
}

.banner:hover .name{
  opacity: 0;
}

/*from SearchButton component:*/

.search{
  width:50px;
  opacity: 0.5;
}

.search:hover{
  opacity: 1;
}


.form-group input:focus{
  border-color: rgba(102, 2, 60, 0.5);
  background-color: rgba(204, 204, 204, 0.55);
  box-shadow: 0 1px 1px black inset, 0 0 8px black;
  outline: 0 none;
}

.form-group input{
  background-color: rgba(204, 204, 204, 0.55);
  border-color:rgba(140, 140, 140, 0.3);
  color:rgb(102, 2, 60);
  font-size: 13pt;
  text-align: center;
  font-family: "Helvetica";
} 

#add-new-cart{
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  border: none;
  font-size: 14pt;
  font-weight: bold;
  border-radius: 5px;
  background-color: black;
  width: 100%;
  transition: opacity 0.5s;
}

#add-new-cart:hover{
  cursor: pointer;
  opacity: 0.8;
}

#prompt>p{
  font-size: 16pt;
  margin:0;
  padding:10px;
}

#imgContainer{
  border: black 1px solid;
  background-color: white;
}

#sticky-header > .container{
  padding: 20px;
}

#item-container #title > p{
  font-size: 14pt;
}

/*After Confirm*/
.after-title{
  text-align: center;
  font-size: 16pt;
}

.after-image{
  display: block;
  margin: 0 auto;
  border: 1px black solid;
  padding:10px 40px;
  background-color: white;
} 

#close-window{
  text-align: center;
}

#close-ext{
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  border: none;
  font-size: 14pt;
  font-weight: bold;
  border-radius: 5px;
  background-color: black;
  padding:10px 30px;
  width: 120px;
  margin-bottom: 20px;
  transition: opacity 0.5s;
}

#close-ext:hover{
  cursor: pointer;
  opacity: 0.8;
}